{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% block title %}Login{% endblock %}
{% block content %}
<main>
    <section class="container-fluid">
        <div class="container">
            <div class="row flex-lg-row align-items-center justify-content-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="{% static 'images/login.webp' %}"
                    class="img-fluid" alt="Login here">
                </div>
                <div class="col-10 col-sm-8 col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="fw-bold my-2 text-center">Login</h4>
                        </div>
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                {{form|crispy}}
                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-primary">Login</button>
                                </div>
                                <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="{% url 'signup' %}"
                                        class="link-info">Register</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}